---
layout: default
---

<div class="row">
  <div class="col-lg-6">
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-sm-4">
          <div class="card-body">
            <h5 class="card-title">Featured Post</h5>
            <p class="card-text">Some short description</p>
            <a href="#">Weiterlesen</a>
          </div>
        </div>
        <div class="col-sm-2">
          <img class="card-img">
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-sm-4">
          <div class="card-body">
            <h5 class="card-title">Featured Post</h5>
            <p class="card-text">Some short description</p>
            <a href="#">Weiterlesen</a>
          </div>
        </div>
        <div class="col-sm-2">
          <img class="card-img">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="container">
{{ content }}
    </div>
  </div>

  <div class="col-md-4">
    <div class="container">
      Noch mehr Hygge auf
      <p>
        <a href="#" class="badge badge-primary">Instagram</a>
        <a href="#" class="badge badge-primary">TikTok</a>
      </p>
    </div>
  </div>
</div>
