
  <div class="jumbotron jumbotron-fluid mb-0 pt-3 pb-3">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center">
        <div class="p-2 order-1"></div>
        <div class="p-2 order-3">
          <img src="assets/img/photo.jpg" width="256px" height="256px" class="rounded-circle"></img>
        </div>
        <div class="p-2 order-2 flex-grow-1">
          <div class="d-flex justify-content-center">
            <div class="p-2"><h3>Lars Rohwedder, ph.D.</h3></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav id="navbar" class="navbar sticky-top navbar-expand navbar-light bg-light mb-3">
    <div class="container">
      <ul class="navbar-nav w-100 nav-justified text-nowrap" style="overflow-x: auto;">
          <li class="nav-item">
            <a class="nav-link" href="#about">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#research">research interests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#publications">publications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#teaching">teaching</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">contact</a>
          </li>
      </ul>
    </div>
  </nav>


